@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins {
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.display-flex {
  display: flex;
}
.btn {
  border-radius: 41px;
  background: rgb(224, 44, 109);
  color: white;
  font-size: 24px;
  padding: 10px 24px;
  border: none;
  margin: 15px 0;
}
/* navbar style */
.items-container {
  gap: 15px;
}
.navbar {
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
}
.navbar h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.navbar ul {
  display: flex;
  gap: 15px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.icon {
  gap: 15px;
}
/* banner section */
.banner-container {
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  border-radius: 10px;
}
.banner-container-left {
  max-width: 582px;
  text-align: left;
}
.banner-container-left h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner-container-left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.banner-container-right {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid rgba(128, 128, 128, 0.288);
  position: relative;
  padding: 10px;
}

.banner-box {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.288);
  position: absolute;
  top: 50px;
  right: 50px;
}
.photo-bg {
  position: absolute;
  z-index: 1;
}

img {
  width: 100%;
}
/* sponsor section */
.sponsor {
  padding: 36px 62px;
  margin: 50px 0;
}
.sponsor-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  align-content: center;
  gap: 40px;
  max-height: 26px;
}
/* Popular Collection */
.collection {
  margin: 0 auto;
  max-width: 1047px;
}
.collection .more {
  margin: 20px 0;
  justify-content: end;
}

.collection h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  color: rgb(58, 58, 58);
  margin: 16px 0;
}
.collection-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 17px 15px;
}
.card img {
  border: 5px;
}
.card h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: rgb(24, 25, 31);
  margin-top: 16px;
}
.card h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.card i {
  color: rgb(251, 130, 0);
}
.rating {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(94, 99, 102);
}
.card p {
  color: rgb(120, 120, 133);
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
  margin-bottom: 16px;
}
.btn-1 {
  color: rgba(224, 44, 109, 0.87);
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 20px;
  border: none;
  text-align: center;
}
/* Featured products */
.featured {
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 50px 0;
}
.featured-img {
  max-width: 460px;
  height: 350px;
}
.content {
  max-width: 610px;
  padding: 20px;
}
.content h2 {
  color: rgb(10, 8, 38);
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.content p {
  color: rgb(108, 108, 108);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
}
.btn-2 {
  background: rgb(224, 44, 109);
  color: white;
  font-size: 24px;
  padding: 10px 24px;
  border: none;
  margin: 15px 0;
}
/* footer section */
.footer-container {
  background-color: rgb(10, 8, 38);
  color: white;
  text-align: center;
  padding-top: 50px;
}
.icons {
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}
.icon-footer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.418);
  align-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .navbar,
  .featured {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin: 10px;
  }
  .banner-container-left {
    text-align: center;
  }
  .sponsor-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .collection-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
